# Begin by ignoring everything
*

# Whitelist files
!/.circleci/
!/.circleci/config.yml
!/matchstick/
!/matchstick/__init__.py
!/matchstick/matchstick.py
!/tests/__init__.py
!/tests/test_matchstick.py
!/.gitignore
!/LICENSE
!/MANIFEST.in
!/README.rst
!/setup.py
